
.brand{
    transition: all 1s;
}
.navbar:hover .brand{
    color:chocolate;
    
    transform: scale(1.3);
    }

.link {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        
      }  

.link:hover{
        color: black;
        border-color:black; 
        
}

.link:visited {
    color: green;
  }
.link:active {
    color: yellow;
  }
  